*{
	margin: 0;
	padding: 0;
}

body {
background-color:#E48D00;
}

a {
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
text-decoration:none;
}

em {
font-style:oblique;
}

strong {
font-style:bold;
}

h1, h2, h3, h4, h5 {
font-family: proxima-nova,sans-serif;
font-style: normal;
} 

h3 {
text-transform:capitalize;
font-size:1.875em;
padding:0 0 1% 0;
color:#001833;
font-weight:800;
}


/**/

.cover {
background-repeat: no-repeat;
background-position: center top;
background: url("../img/cover.jpg");
width: 100%;
height: 400px;
background-size: 100% 100%;
}
.cover:hover {
background-repeat: no-repeat;
background-position: center top;
background:
linear-gradient(
rgba(255,204,128, 0.5), 
rgba(255,204,128, 0)
), url("../img/cover.jpg");
width: 100%;
height: 400px;
background-size: 100% 100%;
}

/**/

.wrapper {
max-width:1000px;
margin:0 auto;
font-family: proxima-nova,sans-serif;
-webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
animation-delay: 2s;
}
.about {
padding: 4% 0;
}
.about p {
font-style: normal;
text-align: justify;
line-height: 1.5;
color: #3d3d29;
letter-spacing: 0.03em;
margin: 10px auto;
font-size:1.5em;
text-indent: 2em;
padding:2% 0;
}
.about h3 {
color: #0f0f0a;
}

/**/

.kontakt {
position: relative;
left: 7.5%;
right: 7.5%;
width: 85%;
background-color:#e65c00;
padding:5% 0;
margin-top:5%;
}
.kontakt-sadrzaj {
margin: 0 auto;
text-align:center;
}
.kontakt-sadrzaj h4 {
font-size:1.875em;
padding:1% 0;
color:#0f0f0a;
letter-spacing:0.04em;
}
.kontakt-sadrzaj a {
color:#3d3d29;
text-decoration:none;
}
.kontakt-sadrzaj a:hover{
color:#0f0f0a;
text-decoration:none;
}

/**/

.gallery{
margin: 30px auto;
width: 75%;
border: 3px solid #e65c00;
padding: 10px;
}

    #container {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    #slideshow {
        height: 100%;
        width: 100%;
    }
    #slideshow img {
        height: 100%;
        width: 100%;
    }
    #pager {
        text-align: center;
        height: 120px;
        width: 100%;
        position: relative;
        bottom: 25%;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    #pager:hover {
       opacity: 1;
    }    
    
    #prev {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 100px;
        padding-top: 170%;
    }
     #next {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 100px;
        padding-top: 170%;
    }
    
    #pager img {
		margin: 10px 5px;
		opacity:0.3;
		transition:all .3s ease-in-out 0s;
		}
	#pager img:hover {
		opacity:1;
		transform:scale(1.05);
		z-index:100;
		}

/**/

.drugi {
position: relative;
left: 7.5%;
right: 7.5%;
width: 85%;
background-color:#e65c00;
padding:5% 0;
margin-top:5%;
}
.drugi-sadrzaj {
text-align: justify;
max-width:1000px;
padding: 2% 0 ;
margin: auto;
line-height: 1.4;
color: #3d3d29;
}
.drugi-sadrzaj h4 {
font-size:1.875em;
padding:1% 0;
color:#0f0f0a;
letter-spacing:0.04em;
}
.drugi-sadrzaj p{
font-family: proxima-nova,sans-serif;
font-style: normal;
font-size: 1.4em;
letter-spacing: 0.03em;
text-indent: 2em;
}

/**/

.radnici {
padding:10% 0;
background:
url("../img/crew.jpg");
background-position: center top;
position: relative;
left: 7.5%;
right: 7.5%;
width: 85%;
height: 200px;
background-size: 100% 100%;
background-repeat: no-repeat;
}

/**/

footer {
position: relative;
left: 7.5%;
right: 7.5%;
width: 85%;
height: 100px;
background-color:#e65c00;
color: #3d3d29;
padding: 2% 0;
}
.footer-sadrzaj {
max-width:1000px;
padding: 2% 0 ;
margin: auto;
font-family: proxima-nova,sans-serif;
font-style: normal;
line-height: 1.4;
color: #3d3d29;
letter-spacing: 0.03em;
font-size:1em;
}

.copyright {
float:left;
}

.facebook {
float:right;
margin-top: -10px;
display:inline;
}

.facebook a {
color:#3d3d29;
padding:0.2em;
font-size:1.8em;
padding-top: 100px;
}

.facebook a:hover {
color:#0f0f0a;
}

.facebook img {
width: 80px;
height: auto;
}